<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body { color: #4A4A4A; }
      a { color: #1980e6; }
      a:hover { color: #0f4d8a; }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36736668-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style>
    body {
      background: url(img/cream_dust.png) repeat 0 0;
    }
    </style>
  </head>

  <body>
<div class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top:30px">
        <img src="img/kaizhao_photo.jpg" class="img-responsive img-circle center-block" style="max-width:120px">
    <div class="text-center">
      <h1>Kai Zhao</h1>
      <p> kzhao.hf [at] gmail.com  </p>
      <p> Ph.D. student <br />@EECS, Oregon State University </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top:20px">
    {{ content }}
  </div>
</div>

  <footer>
    <div class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <hr />
    <p align=right> &copy; <img src="img/zhuanti.png" width="50"> |
               <script type="text/javascript">
                 var t = new Date(document.lastModified);
                 var m = "Last Update: " + t.toDateString();
                 document.write(m);
               </script>
    </p>
  </div>
    </div>
  </footer>
  </body>

</html>
