<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36736668-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style>
    body {
      background: url(img/cream_dust.png) repeat 0 0;
    }
    </style>
  </head>

  <body>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-3 col-md-offset-1" style="margin-top:45px">
      <div class="text-center" style="padding-left:20px;">
        <img src="img/kaizhao_photo.jpg" class="img-responsive img-rounded" style="max-width:240px">
      </div>
    </div>
   <div class="col-xs-6 col-md-7" style="margin-top:35px; padding-left:40px">
      <h1>Kai Zhao</h1>
      <p class="lead"> Ph.D. student<br/>
          Computer Science Department<br/>
      Graduate Center, City University of New York <br/> </p>
      <strong>Email:</strong> kzhao.hf [at] gmail.com <br>
      <strong>Address:</strong> Dept. Computer Science<br/>
      365 Fifth Avenue, New York, NY 10016
      <span class="label label-info"><a href="http://goo.gl/maps/DdVN7" target="_blank" style="color: rgb(250,250,250)">map</a></span>
    </div>
  </div>
  <div class="col-xs-10 col-md-10 col-md-offset-1" style="margin-top:30px">
    {{ content }}
  </div>
</div>

  <footer>
    <div class="container">
    <div class="col-xs-9 col-md-10">
    <hr />
    <p align=right> &copy; <img src="img/zhuanti.png" width="50"> |
               <script type="text/javascript">
                 var t = new Date(document.lastModified);
                 var m = "Last Update: " + t.toDateString();
                 document.write(m);
               </script>
    </p>
  </div>
    </div>
  </footer>
  </body>

</html>
